* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,
html {
    width:100%;
    height:100%;
    overflow-y: scroll;
    overscroll-behavior-y: none;
}
a {
    text-decoration: none;
}
.main {
    text-align: center;
    height:768px;
    width: 100%;
    background: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select:none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}
.login_button {
    margin: 50px 5px 0px 5px;
}
.main a {
    font-family: 'Open Sans', sans-serif;
    padding:5px 70px;
    color:coral;
    font-size: 1.5rem;
    border: 2px solid coral;
    background: #fff;
    border-radius: 100vh;
    margin:20px;    
    transition: 0.6s ease-in-out;
}
.main a:hover {
    color: #fff;
    background: coral;
}
.main > h1 {
    transition: all 0.6s;
    padding-top: 180px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 5em;
    color:coral;
    cursor:default;

}
.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}
.user__title {
    font-size: 14px;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
}
.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Roboto";
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
}
.form__input:focus {
    background: #f7f7f7;
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: "Roboto";
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: darkorange;
    transition: 0.3s;
    cursor:pointer;
}
.btn:hover {
    background: coral;
}
/*----------------------------------------------------------------*/

.login_button a.active{
    background: darkorange;
    color:white;
  }
.area {
    display:none;
    opacity: 0;
}

.area.is-active {
    display: block;
    animation-name: displayAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

footer {
    text-align: center;
    padding:10px 15px;
    background-color: #000;
}
footer ul {
    margin:0 auto;
    max-width:1024px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
footer ul li{
    color:#666;
    margin:5px 8px;
    font-size: 0.89rem;
}
footer ul li a {
    color:#666;
    display:block;
}
footer ul li a:hover {
    text-decoration:underline;
}
.main img {
    width:100%;
    max-width: 100%;
    height: auto;
}
@keyframes displayAnime{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media screen and (max-width:1024px) {
/*tablet用のcssを記述*/
    .main {
        background:url("images/background_grunge.png"),url("images/background_sheet_599.jpg");
        background-size: 1024px,cover;
        background-repeat: no-repeat;
        background-position:bottom,center;
        transition: background-size 0.6s ease-in-out;
    }
}
@media screen and (max-width:599px) {
    /*スマホ用のcssを記述*/
    .main {
        background:url("images/background_grunge.png"),url("images/background_sheet_599.jpg");
        background-size: 130%,cover;
        background-repeat: no-repeat;
        background-position:bottom,center;
    }
    /*用のcssを記述*/
    .main a {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        width:280px;
        font-size: 1.3rem;
    }
    .main > h1 {
        padding-top: 100px;
    }
    .login_button {
        margin: 35px 5px 0px 5px;
        transition:0.4s ease-in-out;
    }
    .user {
        margin: 7vh auto;
    }
}